
.background {
    width: auto;
    border: 1px solid transparent;
    height: 820px;
    background-color: #283C55;
}

.flexbox {
    border-radius: 20px;
    margin-top: 50px;
    display: flex;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.76);
    justify-content: space-around;
    align-items: center;
    height: 700px;
    @media (max-width: 1280px) {
        width: 1300px;
    }
}
.box-paises {
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 1280px) {
        width: 700px;
        height: 560px;
    }
}
.box-paises h2 {
    margin-bottom: 50px;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: #fa0d6c;
    font-weight: bold;
}
.grid-layout {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 80px;
    justify-content: center;
    @media (max-width: 1280px) {
        gap: 50px;
    }
}
.country {
    flex: 2 2 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin-top: -15px;
    @media (max-width: 1280px) {
        margin-top: 0;
    }
}
.country img {
    width: 100px;
    background-color: #283C55;
    border-radius: 50%;
    @media (max-width: 1280px) {
        width: 80px;
    }
}