.corpo {
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #417A8B;
    padding: 110px 0;
    margin-top: 5%;
    max-width: 1200px;
    box-shadow: #3e6e7d 2px 2px 2px;
    width: 1300px;
    border-radius: 20px;
    height: 500px;
}

.img{
    display: flex;
    align-items: center;
    margin-left: -30px;
}
.tela-cadastro{
    background-color: white;
    display: flex;
    padding: 50px;
    border-radius: 20px;
    height: 400px;
    align-items: center;
}

form{
    width: 460px;
    text-align: center;
}

form h2{
    font-size: 3rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: rgb(63, 61, 86);
}

.input-div{
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 20px 0;
    padding: 4px 0;
    border-bottom: 2px solid #d9d9d9;
    transition: all .5s;
}

.input-div.first{
    margin-top: 0;
}

.input-div.last{
    margin-bottom: 4px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i{
    color: #d9d9d9;
    transition: all .5s;
}

.input{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: .3rem .7rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #555;
}

.input-div:focus-within{
    border-bottom: 2px solid #CB1464;
}

.input-div:focus-within .icon i{
    color: #CB1464;
}

.btn{
    font-family: 'Poppins', sans-serif;
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to right, rgb(248, 1, 92), rgb(255, 32, 114), rgb(255, 0, 123));
    background-size: 200%;
    transition: all .5s;
}

.butao {
    position: absolute;
    top: 230px;
    left: 920px;
    width: 50px;
    height: 50px;
    background-color: #DB0E69;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: calc(.4s);
}
.butao p {
    font-size: 40px;
}
.butao:hover {
    background-color: #A80754;
    transform: scale(1.05);
}
